/* General */

body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #75b0c7;
  color: white;
}

a, p {
  font-size: 25px;
}

h1 {
  font-size: 85px;
  margin: 30px;
}

h2 {
  font-size: 40px;
  margin:40px;
  margin-bottom: 0px;
}

div {
  padding: 20px;
}

/* Ids */

#particles {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#HomeImage {
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
  width: 20%;
  height: auto;
}

/* Classes */

.Intro p {
  font-size: 30px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-item {
  margin: 20px;
  transition: 0.25s ease-out;
  cursor:pointer;
  border-radius: 10px;
  background: white;
  padding: 20px;
  width: 25%;
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.2));
}

.grid-item a {
  text-decoration: none;
}

.grid-item:hover {
  color: transparent;
  transform: scale(1.05);
}

.thumbnail-title {
  font-size: x-large;
  font-weight: bolder;
  padding: 0;
  color: #75b0c7;
  pointer-events: none;
}

.thumbnail-desc {
  font-size: medium;
  font-style: italic;
  padding: 0;
  color: #050505;
  pointer-events: none;
}

.thumbnail-subtitle {
  font-size: large;
  font-style: normal;
  padding: 0;
  color: #050505;
  pointer-events: none;
}

.thumbnail-image {
  width: 80%;
  margin: 20px;
  border: 8px solid #9CAFB7;
}

.Spin {
  animation: spin ease-in-out;
}

.Music {
  display: flex;
}

.Music .item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Icons {
  padding-bottom: 50px;
  padding-top: 0px;
}

.Icons a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.Icons span {
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
}

.Games img {
  max-width: 50%;
  max-height: 50%;
}

/* Animations */

@keyframes spin {
  0% {
    transform:rotateZ(0deg);
  }

  100% {
    transform:rotateZ(360deg);
  }
}